<div class="logo-bar-container">
    <div class="logo-container">
        <a href="/">
            <img class="logo-image" src="{{ site.logo_img }}" />
        </a>
    </div>
    <div class="social-container">
        {% include social.html %}
    </div>
</div>
<div class="cover-panel">
    
    <div class="sitemap">
        <div class="sitemap-container">

            <div class="sitemap-list">
              <!-- Navigation Elements -->
              {% assign pages = site.pages | where: "header",true | sort: 'order' %}

              {% for my_page in pages %}
                {% if my_page.title %}
                <div class="sitemap-item">
                  <a href="{{ my_page.url | prepend: site.baseurl }}" class="sitemap-item-link">
                    <div class="sitemap-item-container">			
                      <span class="sitemap-item-text">{{ my_page.slug }}</span>
                    </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
              <!-- End navigation elements -->
            </div>
        </div>
    </div>

    <div class="cover-title">
        <div class="blog-title-pad">
            &nbsp;
        </div>
        <div class="blog-title">
            <h1 class="blog-title-text">{{ site.title }}</h1>
        </div>
    </div>
</div>
