<div class="cover-panel">
    <div class="sitemap">
        <div class="sitemap-container">
            <div class="logo-container">
                &nbsp;
            </div>

            <ul class="sitemap-list">
              <!-- Navigation Elements -->
              {% assign pages = site.pages | where: "header",true | sort: 'order' %}

              {% for my_page in pages %}
                {% if my_page.title %}
                  <a href="{{ my_page.url | prepend: site.baseurl }}" class="sitemap-item-link">
                    <li class="sitemap-item">
                      <div class="sitemap-item-container">			
                        <span class="sitemap-item-text">{{ my_page.slug }}</span>
                      </div>
                    </li>
                  </a>
                {% endif %}
              {% endfor %}
              <!-- End navigation elements -->
            </ul>

            <div class="social-container">
                {% include social.html %}
            </div>
        </div>
    </div>

    <div class="cover-title">
        <div class="blog-title-pad">
            &nbsp;
        </div>
        <div class="blog-title">
            <h1 class="blog-title-text">{{ site.title }}</h1>
        </div>
    </div>
</div>
