html, body {
    margin: 0;
    background-color: $background-color;
    font-family: $base-font-family;

    position: relative;
}

// Common Mixins
@mixin bg-image($image_uri) {
    background-image: url($image_uri);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@mixin button-border($radius) {
    border-bottom: 3pt solid $border-dark;
    border-left: 3pt solid $border-dark;
    border-right: 3pt solid $border-dark;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin color-fade($time) {
    transition: background-color $time, color $time;
    -webkit-transition: background-color $time, color $time;
}

main { 
    
    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    code {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 0.8em;
    }

    a {
        text-decoration: none;
        color: $border-dark;
    }
    
    a:hover {
        color: $border-bright;
    }
}

// BEGIN TOP ROW CSS
.logo-bar-container {
    display: block;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.logo-container {
    display: block;
    width: 180px;
    font-size: 2em;
    margin: 0.1em 1em;

    float: left;
    height: 100%;
}

.social-container {
    display:block;
    float: right;
    width: 15%;
    height: 100%;
}

.social-item { 
    float: left; 
    display: block; 
    height: 3em; 
}

.social-img { 
    vertical-align: middle; 
    max-height: 2.5em; 
}

// END TOP ROW CSS

.cover-panel {
    @include bg-image($cover_image);

    display: block;

    width: 100%;
    height: 28em;
    border-bottom: 0.25em solid $border-dark;
}

.cover-title {
    clear: both;
    background-color: $background-alpha; 

    margin-top: 15em;

    min-height: 5em;
    max-height: 6em;
    width: 100%;
    vertical-align: middle;
}

.blog-title-pad {
    width: 6em;
    float: left;
}

.blog-title {
    float: left;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.blog-title-text {
    font-weight: bold;
}

.blog-description {
    clear: left;
    margin-bottom: 1em;
}

.blog-description-text {
    font-style: italic;
}

.sitemap {
    position: static;
    border-top: 0.25em solid $border-dark;

    height: $sitemap-height;
}

.sitemap-container {
    background-color: $sea-blue;
    height: $sitemap-height;
}

.sitemap-list {
    height: $sitemap-height;
    margin: 0;
    float: left;
}

.sitemap-item {
    height: $sitemap-height;
    float: left;
}

.sitemap-item-container {
    height: $sitemap-height;
    width: 12em;
    display: table-cell;
    vertical-align: middle;
    background-color: $background-solid;
    text-align: center;
}

.sitemap-item-container:hover {
    background-color: $background-dark;
    @include color-fade($sitemap-fade-time);
}

.sitemap-item-container:hover .sitemap-item-text {
    color: $white;
    @include color-fade($sitemap-fade-time);
}

.sitemap-item-link {
    text-decoration: none;
}

.sitemap-item-text {
    color: $sitemap-font-color;
    font-size: 1.2em;
}



.align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.body-container {
    width: 100%;
    clear: both;
}

.body-content {
    margin: 1em 8em;
}

.content-main {
    float: left;

    width: 60%;
}

.content-side {
    float: right;
    width: 25%;
}

.foot-container {
    clear: both;
    min-height: 3em;
    background-color: $background-solid;
    width: 100%;


    bottom: 0;
}

.foot-content {
    margin-top: 1em;
    text-align: center;
}

.sidebar-item {
    margin: 2em 0;
    height: 12em;

    background-repeat: no-repeat;
    background-size: 100%;

    border-radius: 1em;
}

.sidebar-item-text {
    width: 100%;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    background-color: $background-alpha;

    text-align: center;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

img.sidebar-item-image {
    width: 100%;
}

.sidebar-item:hover a {
    color: $border-bright;
}

.sidebar-item:hover .sidebar-item-divider {
    box-shadow: inset 0 1em 1em -1em rgba(235, 50, 25, 0.5);
}

/*
 * Markup intended to be internal to blog posts.
 */

.blob-four-column > div {
    float: left;
    
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
}

.blob-icon-title {
    width: 45%;
}

.blob-icon-container {
    border: 2px solid $border-dark;
    border-radius: 1em;
}

.right-clear {
    clear: right;
}

.blob-icon-title {
    width: 100%;
    padding: 0.5em 0;

    height: 1.2em;
    text-align: center;

    background-color: $background-alpha;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.blob-icon-image {
    height: 8em;
    width: 8em;
}

.form-margin {
    margin: 4em 1em;
}

.form-group {
    display: block;

    margin-left: 2em;
}

.form-group label {
    display: block;
    font-weight: bold;
    width: 35%
}

.form-group input {
    display: block;
    width: 65%;
}